#article-container /* Div nadrzedny dla tytulu artykulu, daty i tekstu. W tym divie znajduje sie drugi, mniejszy o jasniejszym szarnym kolorze */
{
	background-color: #252523;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#article-container-second-background /* Div nadrzedny dla tytulu artykulu, daty i tekstu. W tym divie znajduje sie drugi, mniejszy o jasniejszym szarnym kolorze */
{
	background-color: #303030;
	width: 80%;
	height: 100%;
	border-radius: 20px;
}
@media (max-width: 770px)
{
	#article-container-second-background /* To jest div o tym jasniejszym dzarym kolorze, tutaj znajduje sie bezposrednio artykul (data, tekst, tytul) */
	{
		border-radius: 0px;
	}
}

#title-container /* Stylizacja div'a w ktorym znajduje sie tytul artykulu. */
{
	width: 80%;
	height: auto;
	font-weight: 800;
	font-family: 'Times New Roman';
	color: white;
	text-align: center;
	font-size:  3.5vw;
	border-bottom: 4px solid white;
	margin-bottom: 8%;
}

@media (max-width: 750px)
{
	#title-container
	{
		font-size: 8.5vw;
	}
}
@media (min-width: 751px)
{
	#title-container
	{
		 font-size: 65px;
	}
}

article /* Stylizacja tagu html, w ktorym znajduje sie tekst artykulu */
{
	color: white;
	text-align: justify;
	font-family: 'Verdana';
	margin-bottom: 10%;
}

@media (max-width: 450px)
{
	article
	{
		font-size: 15px;
	}
}

#data /* data artykulu */
{
	 text-align: right;
	 font-family: 'Raleway';
	 font-size: 5vw;
}

@media (min-width: 500px)
{
	#data
	{
		 font-size: 25px;
	}
}

#comments-container /* div, w ktorym miesci sie napis 'KOMENTARZE', szare tlo i same komentarze */
{
	width: 100%;
	height: auto;
	background-color: #252525;
	display: flex;
	justify-content: center;
	padding-bottom: 10%;
}

#comments /* div, ktory jest od razu po div'ie comments-container. Miesci sie tutaj napis 'KOMENTARZE', szare tlo i same komentarze */
{
	border-radius: 20px;
	width: 80%;
	height: auto;
	background-color: #303030;
	display: flex;
	flex-direction: column;
	color: white;
}

#comment-title  /* Div dla napisu 'KOMENTARZE' */
{
	font-weight: 400;
	width: 80%;
	height: auto;
	font-family: 'Times New Roman';
	text-align: center;
	font-size:  3.5vw;
	border-bottom: 4px solid white;
	align-self: center;
	margin-bottom: 5%;
	padding-bottom: 1%;
}

@media (max-width: 770px)
{
	#comments
	{
		border-radius: 0px!important;
	}
}

.w3-button /* Stylizacja klasy, ktora odopwiada przyciskowi 'dodaj post' i 'wyslij' */
{
	border: none;
	padding: 8px 16px;
	margin-bottom: 2%;
	color: white;
	background-color: inherit;
	background-color: #404040;
	border-radius: 6px;
}
.w3-button:hover
{
	font-weight:bold;
}

.w3-hide
{
	display: none;
}
.w3-show
{
	display: block;
	margin: 5%;
}

@media (max-width: 750px)
{
	#comment-title /* Div dla napisu 'KOMENTARZE' */
	{
		font-size: 6.5vw;
	}
}
@media (min-width: 751px)
{
	#comment-title
	{
		 font-size: 50px;
	}
}

.single-comment  /* klasa, w ktorej mieszcza sie komentarze, czyli jakis nick, data, komentarz itp. */
{
	color: white;
	height: auto;
	width: 70%;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #808080;
	margin-bottom: 5%;
	text-align: justify;
	padding: 2%;
	font-family: 'Verdana';
	font-size: 15px;
}

.nick
{
	font-size: 18px;
	font-weight:bold;
}
.comment-data
{
	font-size: 18px;
	font-weight:bold;
}

#add-comment-form > .nick > input
{
	width: 15%;
	letter-spacing: 1px;
	background-color: #303030;
	border: 1px solid #808080;
	color: white;
	border-radius: 5px;

}

#add-comment-container
{
	height: auto;
	width: auto;
}

#footer-container  
{
	width: 100%;
	height: auto;
	background-color: #252525;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	color: white;
	display: flex;
	justify-content: center;
}
#footer-border
{
	border-radius: 10px;
	width: 85%;
	border-top: 2px solid white;
	background-color: #303030;
	padding-left: 1%;
}
@media (max-width: 499px)
{
	#footer-border
	{
		font-size: 3.5vw;
	}
}
