#first-page-container /*znajduje sie tutaj karuzela, te slajdy*/
{
	display: flex; /*uruchomienie flexa*/
	justify-content: center; /*bez tego karuzela jest po lewej stronie*/
	align-items: center; /*bez tego karuzela jest na gorze*/
	width: 100%;
	height: 60vh; /*dzieki temu wysokosc bedzie wynosic 60% tego ile wysokosc w przegladarce. Jak mamy przegladarke zmniejszona do polowy czyli np 600px, to wysokosc tej klasy to bedzie 360px*/
	background-color: #202020; 
	min-height: 340px; /*ustawienie minimalnej wysokosci diva. Tak dla ladnego widoku*/
}

#carouselMainPage /*odpowiada za karuzele i jej przelacznik, te piec poziomych kresek*/
{
	height: 30vh;
	min-height: 170px;
}
.carousel-inner > .carousel-item /*ustawienie samego slidera*/
{
   width: 100%;
   min-height: 100px;
}

@media (min-width: 900px) 
{ 
	#second-background-offer-container /* Wystylizowanie tekstu, tam gdzie Stallman jest */
	{
		font-size: 1.5vw;
	}
}
@media (min-width: 500px) and (max-width: 899px)  
{ 
	#second-background-offer-container /* Wystylizowanie tekstu, tam gdzie Stallman jest */
	{
		font-size: 2.5vw;
	}
}
@media (max-width: 499px) 
{ 
	#second-background-offer-container, #footer-border /* Wystylizowanie tekstu, tam gdzie Stallman jest i stopka ;p*/
	{
		font-size: 3.5vw;
	}
}

@media (min-width: 400px) 
{ 
	#white-credo-container-title /* Wystylizowanie napisu "O STRONIE", nad Stallmanem */
	{
		font-size: 4vw;
	}
}
@media (max-width: 399px) 
{ 
	#white-credo-container-title /* Wystylizowanie napisu "O STRONIE", nad Stallmanem */
	{
		font-size: 6.5vw;
	}
}

#white-credo-container /* Wystylizowanie div'a, ktory jest miedzy karuzela (tymi slajdami), a div'em ze Stallmanem */
{
	font-weight: 800;
	text-align: center; 
	font-family: 'Raleway'; 
	color: white;
	font-size: 2.5vw;
	display: flex; 
	justify-content: center;
	align-items: center;
	/*wyglad kontenera*/
	width: 100%;
	height: 30vh;
	background-image: linear-gradient(#202020, #808080);
	background-color: #808080; /* dla przegladarek, ktore nie wspieraja gradientu */
/*	border: 2px solid red;*/
	min-height: 170px;
}

#credo-container /* div ze Stallmanem i ze stopka */
{ 
	width: 100%;
	height: 100vh;
	background-image: url("img/stallman.jpg"); /*zrodlo: https://i.warosu.org/data/g/img/0651/54/1521397979622.jpg*/ 
	/*dzieki ponizszym ustawieniom tlo jest wyposrodkowane i dostosowane do rozdzielczosci ekranu, nic nie ucina, wszystko ladnie widac*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	background-attachment: fixed; /*taki fajny ficzer. tlo jest nieruchome*/
	min-height: 568px;
}
#second-background-offer-container /*jest tylko po to, zeby zrobic ladne przyciemnienie glownego tla*/
{
	font-family: 'Raleway';
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100vh; /*dzieki wysokosc bedzie wynosic tyle ile wysokosc w przegladarce. Jak mamy przegladarke zmniejszona do polowy czyli np 600px, to wysokosc tej klasy to bedzie 600px*/
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 568px;
}
.box :nth-child(1) /* Dzieki zastosowaniu flex, mamy mozliwosc ustawienia kolejnosci, na gorze jest div ze stallmanem, a na dole stopka  */
{ 
	order: 1; 
	align-self: center;
}

.box :nth-child(2) 
{ 
	order: 2; 
	align-self: flex-end;
}

#footer-container /* stopka */
{
	width: 100%;
	height: auto;
	background: rgba(0, 0, 0, 0.5);
	font-weight: 400;
	font-size: 16px;
	text-align: left; 
	color: white;
	display: flex; 
	justify-content: center;
}
#footer-border /* dzieki temu jest biala linia przy stopce */
{	
	width: 85%;
	border-top: 2px solid white;
}
