.post /* Znajduje sie tutaj tekst, czyli tytul, data i opis */
{
	color: white;
}
.singlePost:hover
{
    font-weight:bold;
}
a:link
{
    text-decoration: none;
    color: white;
}
@media(max-width: 390px)
{
	.img-thumbnail /* Ikona przy poscie */
	{
		width: 50%;
	}
	.photo /* klasa, w ktorej miesci sie obrazek */
	{
		text-align: center;
		margin-bottom: auto;
	}
	.posTitle /* klasa, w ktorej miesci sie tytul */
	{
		text-align: center;
		font-size: 130%;
		margin-bottom: 2%;
	}
	.postData /* klasa, w ktorej miesci sie data */
	{
		text-align: center;
		font-size: 80%;
		margin-bottom: 4%;
	}
	.post /* klasa, w ktorej miesci sie opis postu */
	{
		margin-bottom: 15%;
	}
}
@media(min-width: 391px) and (max-width: 600px)
{
	.img-thumbnail /* Ikona przy poscie */
	{
		width: 150px;
	}
	.photo /* klasa, w ktorej miesci sie obrazek */
	{
		text-align: center;
		margin-bottom: auto;
		margin-top: 7%;
	}
	.posTitle /* klasa, w ktorej miesci sie tytul */
	{
		text-align: center;
		font-size: 20px;
		margin-bottom: 2%;
	}
	.postData /* klasa, w ktorej miesci sie data */
	{
		text-align: center;
		font-size: 15px;
		margin-bottom: 4%;
	}
	.post /* Znajduje sie tutaj tekst, czyli tytul, data i opis */
	{
		margin-bottom: 8%;
	}
}
@media(min-width: 601px) and (max-width: 960px)
{
	.img-thumbnail /* Ikona przy poscie */
	{
		width: 160px;
	}
	.photo /* klasa, w ktorej miesci sie obrazek */
	{
		text-align: center;
		margin-bottom: auto;
		margin-top: 7%;
	}
	.posTitle /* klasa, w ktorej miesci sie tytul */
	{
		text-align: center;
		font-size: 20px;
		margin-bottom: 2%;
	}
	.postData /* klasa, w ktorej miesci sie data */
	{
		text-align: center;
		font-size: 15px;
		margin-bottom: 4%;
	}
	.post /* klasa, w ktorej miesci sie opis postu */
	{
		margin-bottom: 8%;
	}
}
@media(min-width: 961px)
{
	.img-thumbnail /* Ikona przy poscie */
	{
		width: 160px;
	}
	.photo /* klasa, w ktorej miesci sie obrazek */
	{
		text-align: center;
		margin-bottom: auto;
		margin-top: 7%;
	}
	.posTitle /* klasa, w ktorej miesci sie tytul */
	{
		text-align: center;
		font-size: 20px;
		margin-bottom: 2%;
	}
	.postData /* klasa, w ktorej miesci sie data */
	{
		text-align: center;
		font-size: 15px;
		margin-bottom: 4%;
	}
	.post /* klasa, w ktorej miesci sie opis postu */
	{
		margin-bottom: 8%;
	}
}

