/* quiz-orm/static/style.css */
body {
    background-color: #E6E6FA;
    color: #000;
}
#komunikaty {
    width: 80%;
    margin: 0.5em 2em;
    padding: 1em;
    font-family: verdana,sans-serif;
    border-radius: 5px;
    background-color: #cecece;
}
#tresc { width: 80%; margin: 0.5em 2em 0 2em; }
form { display: inline-block; margin-bottom: 0;}
input[type=text].form-control { width: 300px; }
input:focus { border-color: light-blue; border-radius: 5px; }
span.blad { color: red; }
span.sukces { color: green; }
span.kom { color: blue; }
.cb { clear: both; }
.fb { font-weight: bold; }












#header-container /*Pojemnik na tytul, logo, menu i pasek szukania i lupke, ktora aktywuje szukanie*/
{
	font-family: 'Raleway'; 
	background-color: #202020; /*szare tlo, prawie czarne*/
}
/* #site-header - Pojemnik na tytul, logo, menu i pasek szukania, tak jak wyzej. Niestety dwa pojemniki maja  taki sam zakres, a wynika to z tego, ze w pierwszym uzywamy klasy navbar, przy ktorej nie moge dac klasy row, bo wszystko sie rozjedza. Moze flex jest rozwiazaniem, ale nie chce mi sie bawic, dziala :) */
#site-header 
{
	width: 100%;
}

#mainmenu > .navbar-nav > .active
{
	border: 1px solid white; /* kiedy jest przypisana klasa active to element menu ma biala ramke*/
}

ul > li /*dotyczy glownych elementow menu, np elektronika, inne, programwoanie...*/
{
	line-height: 250%; /*ile miejsca w pione zajmuje jedna linia tekstu z listy numerowanej*/
}

ul > li:hover /*co sie dzieje po najechaniu na elementy menu*/
{
	font-weight:bold;
}

#second-nav /*ustawienie wyszukiwarki po kliknieciu w lupke*/
{
	background-color: #202020; 
}

#second-nav > form > input, #mainmenu > ul > form > input /* wystylizowanie paska szukania dla glownego menu i tego dodatkowego po wcisnieciu w lupke*/
{
	border-color: #808080; /* kolor obramowania paska szukania*/
	background-color: #202020; /*dzieki temu pasek szukania ma taki kolor tla jak cale tlo diva*/
	color: white; /*kolor tekstu*/
	border-radius: 0px; /* domyslnie wlaczone jest zaokraglanie krawedzi marginesow, to wylacza ten mechanizm */
	letter-spacing: 2px; /*rozstrzelenie liter*/
	font-size: 1.8vh;
}

#second-nav > form  > button, #mainmenu > ul > form > button /* wystylizowanie buttona 'szukaj' dla glownego menu i tego dodatkowego po wcisnieciu w lupke */
{
	border-color: #808080;
	color: #808080;
	border-radius: 0px;
	letter-spacing: 2px;
	font-size: 1.8vh;
}

#second-nav > form  > button:hover, #mainmenu > ul > form > button:hover /* co sie dzieje po najechaniu myszka na button szukaj*/
{
	background-color: #202020;
	font-weight: bold;
	color: white;
}

#mainmenu > ul > button /* wystylizowanie lupki*/
{
	color: #808080; /*kolor ma taki jaki byc powinien :) */
	font-size: 2vw; 
	margin: auto;
	background: rgba(0, 0, 0, 0); /* zalaczenie przezroczystoscu tla, dla lupki. Bez tego jest ona na takim malym bialym kwadracie */
	border: none;
}

@media (max-width: 475px)
{ 
	#mainmenu > ul > form > .form-control, #mainmenu > ul > form > .btn
	{
		width: auto;
		font-size: 3vw;
		letter-spacing: 3px;
	}
	#mainmenu > ul > li
	{
		font-size: 3vw;
		width: auto;
		letter-spacing: 4px;
	}
	
	#mainmenu > ul > i, #second-nav > form > input, #second-nav > form  > button, #mainmenu > ul > button
	{
		display: none;
	}
}	
@media (min-width: 476px) and (max-width: 767px) 
{
	#mainmenu > ul > li, #mainmenu > ul > form > .form-control, #mainmenu > ul > form > .btn
	{
		font-size: 14px;
		width: auto;
		letter-spacing: 4px;
	}
	#mainmenu > ul > i, #second-nav > form > input, #second-nav > form  > button, #mainmenu > ul > button
	{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 999px) 
{
	#mainmenu > ul > li, #mainmenu > ul > form > .form-control, #mainmenu > ul > form > .btn, #mainmenu > ul > i
	{
		font-size: 1.7vw;
		width: auto;
		letter-spacing: 4px;
	}
	#second-nav > form > input, #second-nav > form  > button, #mainmenu > ul > form > input, #mainmenu > ul > form > button
	{
		display: none;
	}
}
@media (min-width: 1000px) and (max-width: 1299px) 
{
	#mainmenu > ul > li, #mainmenu > ul > form > .form-control, #mainmenu > ul > form > .btn, #mainmenu > ul > i
	{
		font-size: 1.3vw;
		width: auto;
		letter-spacing: 4px;
	}
	#second-nav > form > input, #second-nav > form  > button, #mainmenu > ul > form > input, #mainmenu > ul > form > button
	{
		display: none;
	}
}
@media (min-width: 1300px) and (max-width: 1599px) 
{
	#mainmenu > ul > li, #mainmenu > ul > form > .form-control, #mainmenu > ul > form > .btn, #mainmenu > ul > i
	{
		font-size: 1vw;
		width: auto;
		letter-spacing: 4px;
	}
	#second-nav > form > input, #second-nav > form  > button, #mainmenu > ul > i, #mainmenu > ul > button
	{
		display: none;
	}
}
@media (min-width: 1600px)
{
	#mainmenu > ul > li, #mainmenu > ul > form > .form-control, #mainmenu > ul > form > .btn
	{
		font-size: 15px;
		width: auto;
		letter-spacing: 4px;
	}
	#second-nav > form > input, #second-nav > form  > button, #mainmenu > ul > i, #mainmenu > ul > button
	{
		display: none;
	}
}
#second-nav-searcher
{
	width: 200px;
}
#second-nav-searcher:focus
{
	transition: width 500ms linear;
	width: 500px;
}

@media (max-width: 2000px) 
{ 
	.navbar-header > a
	{
		font-size:  120px;
	}
}
@media (max-width: 1400px) 
{ 
	.navbar-header > a
	{
		font-size:  8.5vw;
	}
}
