{% extends "listEntriesTemplate.html" %}
{% set active_page = "categories" %}
{% block pageTitle %}Kategorie{% endblock%}
{% block headForCategories %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='categoriesStyle.css') }}">{% endblock %}
 
{% block titleOfTheArticle %}Kategorie{% endblock %}

{% block articleContent %}
<div class="row">
    <div class="categoryItem col-lg-4 col-6" >
        <img class="imageThumbnail" src="{{url_for('static', filename='/img/category/drone.png')}}"/>
        <figcaption>Drony</figcaption>
    </div>
    <div class="categoryItem col-lg-4 col-6" >
        <img class="imageThumbnail" src="{{url_for('static', filename='/img/category/electronics.png')}}"/>
        <figcaption>Elektronika</figcaption>
    </div>
    <div class="categoryItem col-lg-4 col-6" >
        <img class="imageThumbnail" src="{{url_for('static', filename='/img/category/rv-campground.png')}}"/>
        <figcaption>Podroze</figcaption>
    </div>
    <div class="categoryItem col-lg-4 col-6" >
        <img class="imageThumbnail" src="{{url_for('static', filename='/img/category/international-food.png')}}"/>
        <figcaption>Jedzenie</figcaption>
    </div>
    <div class="categoryItem col-lg-4 col-6" >
        <img class="imageThumbnail" src="{{url_for('static', filename='/img/category/beer-bottle.png')}}"/>
        <figcaption>Piwo</figcaption>
    </div>
    <div class="categoryItem col-lg-4 col-6" >
        <img class="imageThumbnail" src="{{url_for('static', filename='/img/category/laptop-coding.png')}}"/>
        <figcaption>Programowanie</figcaption>
    </div>
    <div class="categoryItem col-lg-4 col-6" >
        <img class="imageThumbnail" src="{{url_for('static', filename='/img/category/formula-fx.png')}}"/>
        <figcaption>Algorytmy</figcaption>
    </div>    
</div>
{% endblock %}
