{% extends "listEntriesTemplate.html" %}
{% set active_page = "categories" %}
{% block pageTitle %}Kategorie{% endblock%}
{% block headForCategories %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='categoriesStyle.css') }}">{% endblock %}
 
{% block titleOfTheArticle %}Kategorie{% endblock %}

{% block articleContent %}
<div class="row">
    <div class="categoryItem col-xl-4">
        <img src="https://img.icons8.com/ios-filled/100/000000/drone.png" style="color: red;"/> Drony 
    </div>
    <div class="categoryItem col-xl-4">
        <img src="https://img.icons8.com/ios/100/000000/electronics.png"/> Elektronika 
    </div>
    <div class="categoryItem col-xl-4">
        <img src="https://img.icons8.com/ios/100/000000/rv-campground.png"/> Podroze 
    </div>
    <div class="categoryItem col-xl-4">
        <img src="https://img.icons8.com/ios/100/000000/international-food.png"/> Jedzenie 
    </div>
    <div class="categoryItem col-xl-4">
        <img src="https://img.icons8.com/ios/100/000000/beer-bottle.png"/> Piwo 
    </div>
    <div class="categoryItem col-xl-4">
        <img src="https://img.icons8.com/ios/100/000000/laptop-coding.png"/> Programowanie 
    </div>
    <div class="categoryItem col-xl-4">
        <img src="https://img.icons8.com/ios/100/000000/formula-fx.png"/> Algorytmy 
    </div>    
</div>
{% endblock %}
