{% extends "szkielet.html" %}
{% set active_page = "dodaj" %}
{% block pageTitle %}Dodawanie{% endblock%}
{% block contentBlock %}
    <form method="POST" class="add-form" action="{{ url_for('menu.dodaj') }}">
        <label>Wpisz pytanie:</label><br />
        {% if pytanie %}
            <!-- wstawiamy id pytania -->
            <input type="hidden" name="id" value="{{ pytanie.id }}" /><br />
            <input type="text" name="pytanie" value="{{ pytanie.pytanie }}" /><br />
        {% else %}
            <input type="text" name="pytanie" value="" /><br />
        {% endif %}
        <label>Podaj odpowiedzi:</label><br />
        <ol>
        {% if pytanie %}
            {% for o in pytanie.odpowiedzi %}
                <li><input type="text" name="odp[]" value="{{ o.odpowiedz }}" /></li>
            {% endfor %}
        {% else %}
            <li><input type="text" name="odp[]" value="" /></li>
            <li><input type="text" name="odp[]" value="" /></li>
            <li><input type="text" name="odp[]" value="" /></li>
        {% endif %}
        </ol>

        <label>Podaj numer poprawnej odpowiedzi:</label><br />
        {% if pytanie %}
            {% for o in pytanie.odpowiedzi %}
                {% if o.odpowiedz == pytanie.odpok %}
                <input type="text" name="odpok" value="{{ loop.index }}" /><br />
                {% endif %}
            {% endfor %}
        {% else %}
            <input type="text" name="odpok" value="" /><br />
        {% endif %}
        <button type="submit">Zapisz pytanie</button>
    </form>
{% endblock %}
