{% extends "mainTemplate.html" %}
{% block pageTitle %}{% endblock%}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='listEntriesTemplateStyle.css') }}">
    {% block headForCategories %}{% endblock %}
{% endblock %}

{% block contentBlock %}
	<main>
		<div class="container-fluid">
			<div class="row">
					<div id="article-container">
					<div id="article-container-second-background">
						<div class="row justify-content-center">
							<div id="title-container">
							    {% block titleOfTheArticle %}{% endblock %}	
							<br/>
							</div>
                            <article class=" col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11">
                                {% block articleContent %}{% endblock %}
							</article>
						</div>
					</div>
					</div>
			</div> <!-- koniec row -->
        </div> <!--  container-fluid -->
        <div id="footer-container">
			<div id="footer-border">
				</br>
				<div class="row">
					<div class="col-xl-2 col-md-3">
						<i class="fas fa-pen-nib"></i>&nbsp;&nbsp;  Autor : <i>Mozerpol</i></br>
					</div>
					<div class="col-xl-10 col-md-9">
						<i class="far fa-envelope"></i>&nbsp;&nbsp; Kontakt : <i>mozerpol@protonmail.com</i></br>
					</div>
					<div class="col-xl-2 col-md-3">
						<i class="far fa-address-card" >&nbsp; O mnie</i></br>
					</div>
					<div class="col-xl-10 col-md-9">
						<i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp; Zaloguj</br></br>
					</div>
				</div> <!-- koniec klasy row -->
			</div> <!-- koniec footer-border -->
		</div> <!-- koneic footer-container -->
	</main>
{% endblock %}
