<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/> 
        <meta name="author" content="Mozerpol">
        <meta name="description" content="Twoj stary"/> 
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800" 
        rel="stylesheet">  
        <!--awesomefonts-->  
        <link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
        crossorigin="anonymous">
        <!-- Bootstrap theme -->
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainTemplateStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        {% block headBlock %}{% endblock %}
        <title>{% block pageTitle %}{% endblock %} {{ config.TYTUL }}</title>
    </head>
    <body>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::      NAVBAR      :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
        <header>
            {% set navigation_bar = [
            ('/', 'index', 'HOME'),
            ('/menu/categories', 'lista', 'KATEGORIE'),
            ('/menu/electronics', 'quiz', 'ELEKTRONIKA'),
            ('/menu/programming', 'dodaj', 'PROGRAMOWANIE'),
            ('/menu/usun', 'usun', 'JEDZENIE'),
            ('/menu/edytuj', 'edytuj', 'WYCIECZKI'),
            ] %}
            {% set active_page = active_page|default('index') %}
            <nav id="header-container" class="navbar justify-content-center navbar-dark navbar-expand-md" role="navigation">
                <!--
                navbar - klasa, ktora tworzy navbar. Sama w sobie nie pozwala na jakies wieksze dzialanie (np. chowanie paska)
                justify-content-center - wyposrodowanie w poziomie.
                navbar-dark - kolor belki nawigacyjnej, a dokladniej tekstu. Mozna zmienic w css na dowolny lub tutaj na navbar-light.
                navbar-expand-md - dzieki temu ponizej rozmiaru medium pojawi sie przycisk rozwijania menu (ktory ustawiony jest ponizej, jako navbar-toggler)
                role="navigation" - taki punkt orientacyjny dla czytnikow i innych gowien. Nie uzywalem w projekcie, ale moze warto.
                Zasieg div: Tytul, navbar z ewewntualna lupka i wysowanym second-nav-submit.
                -->
                <div id="site-header" class="row justify-content-center align-items-center -webkit-align-items: center h-100">
                    <!--
                    align-items-center - wyposrodkowanie w pionie.
                    -webkit-align-items: center - przegladarka safari jest na tyle biedacka, ze trzeba dla niej uzywac specjalnych klas. Ta robi to co align-items-center
                    h-100 - jak uzywamy align-items-center to trzeba powiedziec ile ten pion diva ma miec wysokosci, czy 100%, a moze 50%? Dzieki h-100 ustawiamy wyoskość 100%
                    justify-content-center - opisane w div header-container.
                    Zasieg: wlasciwie to samo co powyzszy div header-container.
                    -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="font-weight: 800; margin-right: 0px; ">LOREM IPSUM</a>
                        <!--
                        navbar-header - klasa bootstrap, w ktorej miesci sie logo, nazwa firmy itp. Ogolnie sama klasa nie spelnia jakichs wiekszych funkcji. Wysrodkowuje to co sie 
                        w niej znajduje[?]
                        navbar-brand - Klasa stosowana do oznaczania loga firmy (moze byc ono tekstowe lub inne).
                        -->
                    </div>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainmenu">
                        <!--
                        navbar-toggler - sa to te trzy poziome kreski, rozwijane menu, ktore sie pokazuja przy malej szerokosci ekranu.
                        ml-auto - to jest to samo co "margin-left: auto"
                        type="button" - dzieki temu nie nie wysylamy zadnego submitu, to jest zwykly przycisk.
                        data-toggle="collapse" - wlaczenie mechanizmu zapadania sie menu.
                        data-target="#mainmenu" - gdzie w dokumencie znajduje sie to co ma ulec collapsowi, jako wartosc tego atrybutu trzeba podac identyfikator tej zawartosci. Uzywamy 
                        znaku #, bo uzywamy id.
                        -->
                        <span class="navbar-toggler-icon"></span> <!-- navbar-toggler-icon - dzieki tej klasie przycisk ma trzy poziome kreski, okreslamy jego wyglad -->
                    </button>
                    <div class="collapse navbar-collapse w-100" id="mainmenu">
                        <!--
                        collapse - ustalamy miedzy granicamy tej klasy co ma byc w rozwijanym menu (chyba)
                        navbar-collapse -
                        w-100 - ustalamy jak szeroko na ekran ma "rozlac" sie div. w-100 oznacza 100%.
                        -->
                        <ul class="navbar-nav nav-fill w-100">
                            <!--
                            navbar-nav - klasa dzieki ktorej wyswietla sie menu, pasek nawigacyjny. Umozliwia rowniez uzycie mechanizmu collapse
                            nav-fill - dzieki temu menu 'rozlewa' sie na cala szerokosc ekranu
                            -->
                            {% for href, id, tekst in navigation_bar %}
                            <li class="nav-item" {% if id == active_page %} class="active" style="border: 1px solid white;" {% endif %}>
                                <a href="{{ href|e }}" style="color: rgba(255,255,255,.5); line-height: 350%;">{{ tekst|e }}</a>
                            </li>
                            {% endfor %}
                            <button onclick="showSecondNav()" class="fas fa-search"></button>
                            <!--
                            Ten button odpowiada za przycisk lupki, po jego wcisnieciu uruchamiamy skrypt JS showSecondNav
                            fas - klasa mowiaca jak wypelniona ma byc lupka z fontawesome. Sa inne wypelnienia, np fab
                            fa-search - klasa z fontawesome, ktora oznacza lupke
                            -->
                            <form class="form-inline">
                                <input class="form-control  col-8" type="search" placeholder="Search..." aria-label="Search">
                                <button class="btn btn-outline-success col-4" type="submit">Szukaj</button>
                                <!--
                                form-inline - dodaje sie ta klase tylko do elementu form. W niej umieszcza sie formularze, kontrolki itp.
                                form-control - https://stackoverflow.com/questions/31739685/what-is-a-form-control-in-html
                                -->
                            </form>
                        </ul>
                    </div> <!-- Koniec div class="collapse navbar-collapse" id="mainmenu"-->
                </div> <!--  site-header -->
            </nav> <!--  header-container -->
            <nav id="second-nav" class="navbar navbar-dark navbar-expand-md">
                <form class="form-inline">
                    <input id="second-nav-searcher" class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
                    <button id="second-nav-submit" class="btn btn-outline-success" type="submit">Szukaj</button>
                </form>
            </nav>
        </header>
        
        {% block contentBlock %}{% endblock %}      
        
        <!-- bootstrap.bundle.min.js -->
        <script type="text/javascript" 
        src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <!-- popper.min.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
        crossorigin="anonymous"></script>
        <!-- jquery-3.4.1.slim.min.js-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
        crossorigin="anonymous"></script>
        <!-- bootstrap.min.js -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
        crossorigin="anonymous"></script> 
        <!-- ponizszy skrypt odpowiada za ukrywanie i pokazywanie menu po kliknieciu na lupke, ktora pokazuje sie dopiero przy odpowiedniej rozdzielczosci strony.  -->
        <script>
            function showSecondNav()
            {
                var x = document.getElementById('second-nav-searcher');
                if (x.style.display === 'block') //dzieki zmianie wlasnosci wyswietlania diva <form class="form-inline"> istnieje mozliwosc pokazywania i chowania go
                {
                    document.getElementById('second-nav-searcher').style.display = "none"; //schowaj pole do szukania
                    document.getElementById('second-nav-submit').style.display = "none"; //schowaj pole "szukaj"
                } else {
                    document.getElementById('second-nav-searcher').style.display = "block";
                    document.getElementById('second-nav-submit').style.display = "block";
                }
            }
        </script>
    </body>
</html>
