<!-- quiz2sa/templates/edytuj.html -->
{% extends "szkielet.html" %}
{% set active_page = "usun" %}
{% block tytul %}Usun{% endblock%}
{% block h1 %}Quiz 2 &#8211; usuwanie pytań{% endblock%}
{% block tresc %}
    <!-- pętla odczytująca kolejne pytania z listy -->
    <ol>
    {% for p in pytania %}
        <li>
            <!-- wypisujemy pytanie -->
            <input type="text" value="{{ p.pytanie }}" name="pyt[]" />    
            <!-- wstawiamy id pytania -->
            <input type="hidden" name="id" value="{{ p.id }}"/>
            <form method="POST" action="{{ url_for('menu.usun') }}">
                <!-- wstawiamy id pytania -->
                <input type="hidden" name="id" value="{{ p.id }}"/>
                <button type="submit">Usuń</button>
            </form>
        </li>
    {% endfor %}
    </ol>
{% endblock %}
